  <main id="mainContent">
    <div class="container">
      <div class="row justify-content-center py-5">
        <h3>Estudiantes registrados en el curso</h3>
        <ejs-grid #grid [dataSource]='data' [allowPaging]="true" [allowSorting]='true' [sortSettings]='sortOptions'
          [allowFiltering]="true" [pageSettings]='pageSettings'>
          <e-columns>
            <e-column field='id' headerText='ID' textAlign='Right' width=50></e-column>
            <e-column field='name' headerText='Nombre' width=120></e-column>
            <e-column field='lastname' headerText='Apellidos' textAlign='Right' width=90></e-column>
            <e-column field='gender' headerText='Genero' textAlign='Right' width=90></e-column>
            <e-column field='email' headerText='Correo' textAlign='Right' width=120></e-column>
            <e-column field='dob' headerText='Fecha de Nacimiento' textAlign='Right' format='dd MMMM yyyy' width=120>
            </e-column>
            <e-column field='matters' headerText='Materias' textAlign='Right' width=80></e-column>
            <e-column field='schedule' headerText='Dias' textAlign='Right' width=120></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
  </main>
